.login-container {
  background-image: url(../../../images/farm1.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}
.login-wrapper {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 500px;
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.nav-link {
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #777;
  font-size: 2rem;
}

.nav-link:hover {
  background: white;
  color: #777;
  border: 1px solid #777;
}

.nav-link.active {
  background: white;
  color: #777;
  border: 1px solid #777;
}

.form-container {
  display: flex;
  justify-content: center;
  background: #777;
}