.login-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: 30px 0;
}

.login-form input {
  width: 100%;
  margin-top: 10px;
  line-height: 2;
  font-size: 1.6rem;
}

.login-form button {
  margin-top: 15px;
  width: 100px;
  border: 1px solid white;
  border-radius: 3px;
  height: 25px;
  font-size: 1.6rem;
  color: #777;
}

.login-form button:hover {
  cursor: pointer;
  /* background: #777; */
  /* color: white; */
  box-shadow: -3px 3px 2px 0px black;
  transition: all 0.3s ease;
}