.header-wrapper {
    /* border: 1px solid green; */
    background: #777;
    position: sticky;
    top: 0;
}

.header-content {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    color: white;
}

.header-content div {
    margin: 5px 20px;
    font-size: 20px;
    font-weight: 600;
}