.header-wrapper {
    background: #777;
    position: sticky;
    top: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-content div {
    margin: 5px 20px;
    font-size: 20px;
    font-weight: 600;
}

.header-content .btn-wrapper {
    /* border: 1px solid red; */
    display: flex;
}

.login-btn {
    text-decoration: none;
    color: white;
    margin: 5px 20px;
    font-size: 20px;
    font-weight: 600;
}

.login-btn:hover {
    cursor: pointer;
}