.prisons-container {
  background-image: url(../../images/carpenter.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  padding-bottom: 500px;
}

.prisons-content {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}