.prison-wrapper {
    width: 800px;
    margin: 10px;
    border: 1px solid grey;
}

.prison-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.prison-name {

}

.prison-contact {
    width: 225px;
    display: flex;
    justify-content: flex-end;
}

.prison-contact p {
    margin: 0 10px 0 10px;
}