.footer-wrapper {
    background: #777;
    position: static;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.footer-content div {
    margin: 5px 20px;
    font-size: 14px;
}